<%- include('./partials/header') %>

<style>
  body {
    background-image: url('/img/terminal.gif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
  }

  h1 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgba(37, 214, 237, 0.7);
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .container {
    text-align: center;
  }

  img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
  }
</style>

<div class="container mt-5">
  <h1 class="title">Terminal de Buses</h1>
  <img src="/img/diagrama2.png" alt="Diagrama de Terminal de Buses" class="img-fluid">
</div>

<%- include('./partials/footer') %>
